@use './variables' as variables;

// * {
//   outline: 1px solid #19ff04;
//   background-color: #b1ddad;
// }

html {
  font-size: 10px;
  font-size: 62.5%;
  scrollbar-color: variables.$main300 variables.$secondary50;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: variables.$secondary50;
}

::-webkit-scrollbar-thumb {
  background: variables.$main300;
}

body {
  position: relative;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  position: relative;
  z-index: 3;
}

.container {
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;

  @include variables.media-up(xxl) {
    max-width: 164rem;
  }

  &--wider {
    @include variables.media-up(xxl) {
      max-width: 168rem;
    }
  }

  .row {
    display: flex;
    margin-left: -2rem;
    margin-right: -2rem;
    justify-content: flex-start;
    flex-wrap: wrap;

    .col {
      padding-right: 2rem;
      padding-left: 2rem;
      width: 100%;
    }
  }
}