@import './_reset.scss';
@import './_variables.scss';
@import './_typography.scss';
@import './_globals.scss';

@import './components/header.scss';
@import './components/logo.scss';
@import './components/hamburger.scss';
@import './components/main-nav.scss';
@import './components/button.scss';
@import './components/headings-text.scss';

@import './blocks/left-text-right-image.scss';