.logos-slider {
  .container {
    .row {
      .col--heading {
        padding: 6.3rem 6rem 3.3rem;

        @include media-up(xxl) {
          padding: 6.3rem 6rem 3.5rem;
        }
      }

      .col--logos {
        padding: 0rem 2rem 3.7rem;

        @include media-up(xxl) {
          padding: 0rem 12.3rem 3.7rem;
        }
      }
    }
  }

  &__heading {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: $black;
    text-align: center;
    letter-spacing: -0.2px;

    @include media-up(xxl) {
      font-size: 1.8rem;
      line-height: 2.1rem;
    }

    span {
      color: $main400;
    }
  }

  &__logos-list {
    display: flex;
    // column-gap: 2rem;

    // @include media-up(xxl) {
    //   column-gap: 3rem;
    // }

    .logos-slider__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16.5rem;
      height: 6rem;
      flex-shrink: 0;

      @include media-up(xxl) {
        width: 17.7rem;
      }
    }
  }
}