.two-headings-text {
  padding: 4.3rem 0 4.3rem;

  @include media-up(xxl) {
    padding: 7.9rem 0;
  }

  .headings-text__heading-main {
    max-width: 59rem;
  }

  .headings-text__paragraph {
    max-width: 80rem;
  }
}