.hamburger {
  position: relative;
  width: 2.4rem;
  height: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0.7rem;
  cursor: pointer;
  z-index: 3;

  @include media-up(xxl) {
    display: none;
  }

  &:before {
    content: 'Menu';
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    position: absolute;
    top: -0.1rem;
    left: -4.5rem;
    opacity: 1;
    transition: all 0.3s ease;
  }

  &:after {
    content: 'Zamknij';
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    position: absolute;
    top: 1.5rem;
    left: -6.5rem;
    opacity: 0;
    transition: all 0.3s ease;
  }

  span {
    display: inline-block;
    background-color: $main400;
    width: 2.4rem;
    height: 0.2rem;
    border-radius: 0.1rem;
    position: absolute;
    transform-origin: center center;

    &:first-of-type {
      top: 0;
    }

    &:last-of-type {
      top: 1rem;
    }
  }

  &.active {
    span {
      &:first-of-type {
        top: 0;
        animation-duration: 0.5s;
        animation-name: top-to-rotate;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }

      &:last-of-type {
        top: 1rem;
        animation-duration: 0.5s;
        animation-name: bottom-to-rotate;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }

      @keyframes top-to-rotate {
        from {
          top: 0;
          transform: rotateZ(0);
        }

        50% {
          top: 0.5rem;
          transform: rotateZ(0);
        }

        to {
          top: 0.5rem;
          transform: rotateZ(45deg);
        }
      }

      @keyframes bottom-to-rotate {
        from {
          top: 1rem;
          transform: rotateZ(0);
        }

        50% {
          top: 0.5rem;
          transform: rotateZ(0);
        }

        to {
          top: 0.5rem;
          transform: rotateZ(-45deg);
        }
      }
    }

    &:before {
      opacity: 0;
      top: -1.6rem;
      transition: all 0.3s ease;
    }

    &:after {
      opacity: 1;
      top: -0.1rem;
      transition: all 0.3s ease;
    }
  }
}