.headings-text {
  display: flex;
  flex-direction: column;

  &.headings-text--mobile-center {
    @include media-down(xxl) {
      align-items: center;
      text-align: center;
    }
  }

  &.headings-text--desktop-left {
    @include media-up(xxl) {
      align-items: flex-start;
    }
  }

  &.headings-text--center {
    align-items: center;
  }

  &.headings-text--right {
    align-items: flex-end;
  }

  &__heading-small {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $main400;
    margin-bottom: 2rem;

    &--mb-small {
      margin-bottom: 2.1rem;
    }
  }

  &__heading-main {
    font-size: 3.6rem;
    font-family: 'Bree Serif', serif;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: $secondary500;

    @include media-up(xxl) {
      font-size: 5.2rem;
    }
  }

  &__paragraph {
    margin-top: 1.9rem;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: $secondary400;

    @include media-up(xxl) {
      margin-top: 2.8rem;
    }
  }
}