.headings-text {
  display: flex;
  flex-direction: column;

  &.headings-text--mobile-center {
    @include media-down(xxl) {
      align-items: center;
      text-align: center;
    }
  }

  &.headings-text--mobile-left {
    @include media-down(xxl) {
      align-items: flex-start;
      text-align: left;
    }
  }

  &.headings-text--mobile-right {
    @include media-down(xxl) {
      align-items: flex-end;
      text-align: right;
    }
  }

  &.headings-text--desktop-center {
    @include media-up(xxl) {
      align-items: center;
      text-align: center;
    }
  }

  &.headings-text--desktop-left {
    @include media-up(xxl) {
      align-items: flex-start;
      text-align: left;
    }
  }

  &.headings-text--desktop-right {
    @include media-up(xxl) {
      align-items: flex-end;
      text-align: right;
    }
  }


  &__heading-small {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $main400;
    margin-bottom: 2.9rem;

    &--mb-small {
      margin-bottom: 2.1rem;
    }
  }

  &__heading-main {
    font-size: 3.6rem;
    font-family: 'Bree Serif', serif;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: $secondary500;

    @include media-up(xxl) {
      font-size: 5.2rem;
    }

    &--font-small {
      font-size: 3.2rem;

      @include media-up(xxl) {
        font-size: 4.2rem;
      }
    }
  }

  &__paragraph {
    margin-top: 1.9rem;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: $secondary400;

    @include media-up(xxl) {
      margin-top: 2.8rem;
    }

    &--font-small {
      margin-top: 2.9rem;
      font-size: 1.6rem;
      line-height: 2.4rem;

      @include media-up(xxl) {
        margin-top: 2.8rem;
        font-size: 1.8rem;
        line-height: 2.8rem;
      }
    }

    &--desktop-mt-big {
      margin-top: 2.7rem;

      @include media-up(xxl) {
        margin-top: 2.8rem;
      }
    }
  }
}