.header {
  padding-top: 2.6rem;
  position: relative;

  @include media-up(xxl) {
    padding-top: 4rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}